body {
 padding-top: 50px;
 color: #3A3A3A;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

*[title] {
  cursor: pointer;
}

div.footer {
  font-size: 0.7em;
  background-color: #080808;
  height: 3em;
  width: 100%;
  position: absolute;
  bottom: 0;
}

div.footer p {
  color: #FFF;
  text-align: center;
  line-height: 3em;
  margin: 0;
}

div.content {
  margin: 1em 0;
}

.ace_editor {
  height: 350px;
  border: 1px solid #000;
}

span.glyphicon-remove, span.clickable {
  cursor: pointer;
}

table.selectable tbody tr {
  cursor: pointer;
}

div.tab-container {
  margin: 1em;
}

ul.groupList {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

ul.groupList li {
  display: block;
  float: left;
  padding: 0.5em;
  background-color: #EEE;
  margin: 1em 1em 1em 0;
}

.bs-callout {
  margin-top: -5px;
}

.bs-callout.bs-callout-info {
  border-color: #5bc0de;
}

.bs-callout.bs-callout-warning {
  border-color: #f0ad4e;
}

.bs-callout.bs-callout-danger {
  border-color: #d9534f;
}

.bs-callout {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  margin: 20px 0;
  padding: 20px;
}

#mailTemplateList tbody tr {
  cursor: pointer;
}