<div class="container-fluid" ng-controller="BookmarkCtrl as bm" ng-init="bm.getAllBookmark()">


    <h3 style="margin-left: 1%">All Bookmarks</h3>
    <h6 style="margin-left: 1%">Click on name to update Bookmark Name.</h6>
    <h6 style="margin-left: 1%">Click on Link to open it in new tab.</h6>
    <h6 style="margin-left: 1%">Click on Tag-It to add Tags to bookmark.</h6>
    <div class="row-fluid" ng-repeat="bookmark in bm.mybookmarks">

        <div class="col-lg-6 col-md-6">
            <div class="bs-callout ng-class: status.WS.cls;">
                <a href="javascript:void(0);" class="pull-right"><span class="glyphicon glyphicon-book"></span></a>
                <h4 ng-hide="editing" ng-click="editing = true"><span class="fw-semi-bold">{{bookmark.bookmarkName}}</span></h4>
                <h5><span class="fw-semi-bold">
                    <a href="{{bookmark.bookmarkDescription}}" target="_blank">
                    {{bookmark.bookmarkDescription}}</a>
                </span></h5>

                <form ng-show="editing" ng-submit="bm.updateBookmarkName(bookmark.bookmarkName, bookmark.bookmarkId)">
                    <label>Name:</label>
                    <input type="text" ng-model="bookmark.bookmarkName" placeholder="Name" ng-required/>
                    <br/>
                    <button class="btn btn-success" type="submit" ng-click="editing = false;">Update</button>
                </form>
                <!--<span class="label label-info">Updated At: {{status.WS.ago}}</span>-->
                <button ng-hide="addTag" ng-click="addTag = true" class="btn btn-success" type="submit">Tag-It
                </button>
                <form ng-show="addTag" ng-submit="bm.addTag(bookmark.bookmarkId, tagName)">
                    <h4><span class="fw-semi-bold"><label>Add Tag</label></span></h4>
                    <label>Name:</label> <input type="text" ng-model="tagName" placeholder="Tag Name" ng-required/><br />
                    <button class="btn btn-success" type="submit" ng-click="addTag = false;">Add</button>
                </form>

            </div>
        </div>

    </div>
</div>