<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <nav id="main-nav" ng-transclude>

                <li><a href="#" class="navbar-brand"><a class="navbar-brand" href="#/home"><img src="img/logo.png"></a></a>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-book"></span> NOTEBOOKS <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-value="groups"><a href="#/notebooks/owned">Owned</a></li>
                        <li data-value="groups"><a href="#/notebooks/shared">Shared With Me</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#/bookmarks" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-comment"></span> BOOKMARKS </a>
                </li>


                <li class="dropdown">
                    <a href="#/tag" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-tags"></span> TAGS </a>
                </li>

                <li class="dropdown">
                    <a href="#/myAccount" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-user"></i></span> MY-ACCOUNT</a>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-stats"></span> DASHBOARD </a>
                </li>

                <li class="dropdown">
                    <a href="#/logout" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
                </li>

            </nav>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>