
<div class="container" ng-controller="loginCtrl">
    <div class="row">
        <main id="content" class="widget-login-container" role="main">

            <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
                <h4 class="widget-login-logo animated fadeInUp">
                    <i class="fa fa-circle text-gray"></i> TagIt <i class="fa fa-circle text-warning"></i>
                </h4>

                <div class="row">
                    <section class="widget widget-login animated fadeInUp">
                        <header>
                            <h3>Logout</h3>
                        </header>
                        <div class="widget-body">

                            <form ng-submit="logout()">
                                <button type="submit" class="btn btn-success btn-rounded pull-right">Logout</button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
</div>