<div class="container" ng-controller="loginCtrl">
    <div class="row">
        <main id="content" class="widget-login-container" role="main">

            <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
                <h4 class="widget-login-logo animated fadeInUp">
                    <i class="fa fa-circle text-gray"></i> TagIt <i class="fa fa-circle text-warning"></i>
                </h4>

                <div class="row">
                    <section class="widget widget-login animated fadeInUp">
                        <header>
                            <div align="center">
                                <h3>Thanks for using TagIt..!!</h3>
                                <br/>

                                <form ng-submit="logout()">
                                    <button type="submit" class="btn btn-success btn-rounded ">
                                        <span class="glyphicon glyphicon-log-out"> Logout</span></button>
                                </form>
                            </div>
                        </header>
                    </section>
                </div>
            </div>
        </main>
    </div>
</div>