<div class="container-fluid" ng-controller="NotebookCtrl as nb" ng-init="nb.getAllNotebooksSharedWithMe()">

    <br/>
    <div class="row">
        <div class="col-lg-6"><h3 style="margin-left: 3%">NoteBooks Shared with me.</h3></div>
    </div>

    <div class="row-fluid" ng-repeat="notebook in nb.sharedNotebooks">

    <div class="col-lg-4 col-md-4">
      <div class="bs-callout ng-class: status.WS.cls;">
        <a href="javascript:void(0);" class="pull-right"><span class="glyphicon glyphicon-book"></span></a>
        <h4>{{notebook.bookname}}</h4>
        <span class="label label-info">Owned By: </span><br />
          {{notebook.ownerName}}, {{notebook.ownerEmail}}

          <br/><br/>
          <button ng-hide="addBk" ng-click="addBk = true" class="btn btn-success" type="submit">Add Bookmark
          </button>
          <form ng-show="addBk" ng-submit="nb.addBookmark(boomarkName, boomarkLink, notebook.notebookid)">
              <h4><span class="fw-semi-bold"><label>Add NoteBook</label></span></h4>
              <label>Name:</label> <input type="text" ng-model="boomarkName" placeholder="Name" ng-required/><br />
              <label>Link:</label> <input type="text" ng-model="boomarkLink" placeholder="Boomark Link" ng-required/><br/>
              <button class="btn btn-success" type="submit" ng-click="addBk = false;">Add</button>
              <br />
          </form>

          &nbsp;&nbsp; <button ng-click="nb.showBookmarksForNotebook(notebook.notebookid)" class="btn btn-info" type="submit">View Bookmarks</button>

      </div>
    </div>

  </div>
</div>