<div class="container-fluid" ng-init="getAllNotebooks()">

    <br />
    <button type="button" class="btn btn-default" ng-click="open('sm')">Add Notebook</button>


    <script type="text/ng-template" id="createNotebookModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Notebook Name</h3>
        </div>
        <form class="form-horizontal form-label-left" method="post" ng-submit="createNotebook(nbName)">
            <input type="text" class="form-control" ng-model="nbName" ng-init="name= MyNotebook"  required="required">
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>

    <div class="row-fluid" ng-repeat="nb in allNotebooks">

    <div class="col-lg-3 col-md-3">
      <div class="bs-callout ng-class: status.WS.cls;">
        <a href="javascript:void(0);" class="pull-right"><i class="glyphicon glyphicon-off"></i></a>
        <h4>{{nb.name}}</h4>
        <span class="label label-info">Created At: {{status.WS.ago}}</span>
      </div>
    </div>

  </div>
</div>