<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-12">
      <div class="bs-callout">
        <h4>Registrations</h4>
        <div id="registrations-day-chart"></div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-lg-12">
      <div class="bs-callout">
        <h4>New Confirmed Users</h4>
        <div id="new-confirmed-users-day-chart"></div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-lg-12">
      <div class="bs-callout">
        <h4>Activities</h4>
        <div id="activities-day-chart"></div>
      </div>
    </div>
  </div>
</div>