<ol class="breadcrumb">
  <li><a href="javascript:void(0);">User</a></li>
  <li class="active">Groups</li>
</ol>
<div id="main-content" class="container-fluid content">
  <div class="row-fluid">
    <tabset justified="true">
      <tab heading="Pending Confirmation" select="renderPendingList()">
        <div class="tab-container">
          <table id="pendingList" class="table table-hover">
            <thead>
              <tr>
                <th>Domain</th>
                <th width=150><a class="pull-right" title="Put into White List" href="javascript:void(0)" ng-click="refreshPendingList()"><span class="glyphicon glyphicon-refresh"></span></a></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in pendingList">
                <td>{{item.name}}</td>
                <td>
                  <a title="Put into White List" href="javascript:void(0)" data-toggle="modal" data-target="#putToList" ng-click="putToList(item.gid, item.name, 'white')"><span class="glyphicon glyphicon-ok"></span></a>&nbsp;&nbsp;
                  <a title="Put into Black List" href="javascript:void(0)" data-toggle="modal" data-target="#putToList" ng-click="putToList(item.gid, item.name, 'black')"><span class="glyphicon glyphicon-remove"></span></a>&nbsp;&nbsp;
                  <a title="Remove" href="javascript:void(0)" ng-click="removeItem(item['_id'])"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="White List" select="renderWhiteList()">
        <div class="tab-container">
          <div class="input-group">
            <input type="text" class="form-control search" ng-model="whiteList.keyword" placeholder="Enter Keyword to Search in {{whiteList.count}} Items from White List" ng-keypress="searchInputKeyPress($event)">
            <span class="input-group-btn">
             <button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
              <button class="btn btn-default" type="button" data-toggle="modal" data-target="#editList"><span class="glyphicon glyphicon-plus"></span></button>
              <button class="btn btn-default" type="button" data-toggle="modal" data-target="#uploadList"><span class="glyphicon glyphicon-upload"></span></button>
            </span>
          </div>
          <ul class="groupList" ng-repeat="item in whiteList.list">
            <li>{{item.company}} : {{item.name}}</li>
          </ul>
        </div>
      </tab>
      <tab heading="Black List" select="renderBlackList()">
        <div class="tab-container">
          <div class="input-group">
            <input type="text" class="form-control search" ng-model="blackList.keyword" placeholder="Enter Keyword to Search in {{blackList.count}} Items from Black List" ng-keypress="searchInputKeyPress($event)">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
              <button class="btn btn-default" type="button" data-toggle="modal" data-target="#editList"><span class="glyphicon glyphicon-plus"></span></button>
              <button class="btn btn-default" type="button" data-toggle="modal" data-target="#uploadList"><span class="glyphicon glyphicon-upload"></span></button>
            </span>
          </div>
          <ul class="groupList" ng-repeat="item in blackList.list">
            <li>{{item.name}}</li>
          </ul>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<div class="modal fade" id="editList" tabindex="-1" role="dialog" aria-labelledby="editListLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit <span ng-show="currentTab == 'white'">White List</span><span ng-show="currentTab == 'black'">Black List</span></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input name="subject" ng-model="edit.domain" type="text" class="form-control" placeholder="Domain Name (eg. inxed.com)">
        </div>
        <div class="form-group">
          <input name="subject" ng-model="edit.company" type="text" class="form-control" placeholder="Company Name">
        </div>
        <button class="btn btn-default pull-right" type="button" ng-click="addItemToList()">Add</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="uploadList" tabindex="-1" role="dialog" aria-labelledby="uploadListLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload <span ng-show="currentTab == 'white'">White List</span><span ng-show="currentTab == 'black'">Black List</span></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="file" ng-file-select="uploadFileSelect($files)">
        </div>
        <button class="btn btn-default pull-right" type="button" ng-click="uploadList()">Upload</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="putToList" tabindex="-1" role="dialog" aria-labelledby="putToListLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add to <span ng-show="listType == 'white'">White List</span><span ng-show="listType == 'black'">Black List</span></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>{{edit.domain}}</p>
        </div>
        <div class="form-group">
          <input name="subject" ng-model="edit.company" type="text" class="form-control" placeholder="Company Name">
        </div>
        <button class="btn btn-default pull-right" type="button" ng-click="verifyItem()">Add</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>